<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>SSS</title>
  </head>
  <style>
    .style1 {
      font-family: "Avenir", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 120px;
    }
  </style>

  <body>
    <div id="app" class="style1">
      <h1>{{ message }}</h1>
      <div>
        <p>line1 is: {{ inputline1 }}</p>
        <p>line2 is: {{ inputline2 }}</p>
        <p>station is: {{ station }}</p>
      </div>

      <input v-model="inputline1" placeholder="STEP1: input line1" />
      <button v-on:click="search1">SEARCH</button>

      <p>{{ message2 }}</p>

      <p v-for="lineee in lines">
        <button v-on:click="search2(lineee.line2)">{{ lineee.line2 }}</button>
      </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          message: "SSS",
          message2: "",
          inputline1: "",
          inputline2: "",
          station: "",
          users: [],
          lines: [],
        },
        mounted: function () {},
        methods: {
          search1: function () {
            this.message2 = "STEP2: SELECT line2";
            axios.defaults.headers.get["Access-Control-Allow-Origin"] = "*";
            axios.defaults.headers.get["Content-Type"] =
              "application/json;charset=utf-8";
            axios
              .get(
                "http://localhost:3000/listlocations?line1=" + this.inputline1
              )
              .then((response) => {
                console.log(response.data);
                this.lines = response.data;
              })
              .catch((response) => console.log(response));
          },
          search2: function (line2) {
            this.inputline2 = line2;
            axios.defaults.headers.get["Access-Control-Allow-Origin"] = "*";
            axios.defaults.headers.get["Content-Type"] =
              "application/json;charset=utf-8";
            const getURL =
              "http://localhost:3000/location?line1=" +
              this.inputline1 +
              "&line2=" +
              line2;
            console.log(getURL);
            axios
              .get(getURL)
              .then((response) => {
                console.log(response.data);
                this.station = response.data.station;
              })
              .catch((response) => console.log(response));
          },
        },
      });
    </script>
  </body>
</html>
